



.fav_sports_div{
    height: 60px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}



.fandango{
    background: var(--fandango_opaque);
}

.celeste{
    background: var(--celeste_opaque);
}

.springGreen{
    background: var(--springGreen_opaque);
}

.sinopia{
    background: var(--sinopia_opaque);
}

.lightOrange{
    background: var(--lightOrange_opaque);
}

.wenge{
    background: var(--wenge_opaque);
}
.spaceCadet{
    background: var(--spaceCadet_opaque);
}

.mauve{
    background: var(--mauve_opaque);
}

.aquamarine{
    background: var(--aquamarine_opaque);
  
}

.mandarine{
    background: var(--mandarine_opaque)
}

.brown{
    background: var(--brown_opaque)
}

.mustard{
    background: var(--mustard_opaque);
}

.jasmine{
    background: var(--jasmine_opaque)
}

.frenchGrey{
    background:var(--frenchGrey_opaque);
}

.eggplant{
    background: var(--eggplant_opaque);
}

.mossGreen{
    background: var(--mossGreen_opaque);
}
