@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


.container{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    position: relative;
    overflow: scroll;
}

.container h1{
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container p{
    font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.fav_sports_div{
    height: 60px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    

}



/*--------------------------------------Total number of sports lessons in the year / last 5 years*-------------------------------------- */



.totalHours_sports_div{
    /*background: linear-gradient(to right, white, var(--purpleDarkHoverOpacity));*/
    background: linear-gradient(to left, white, var(--purpleDarkHoverOpacity));
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    margin: 4px 0px;
}


.images_div{
    background: var(--purpleDarkHoverOpacity);
    padding: 1px;
    width: 100%;
}

.centered_span {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.1rem;
  margin: 0px 4px;
  min-width: 160px;
  height: 80%;
}

.error_p{
    color: var(--purpleDark);
    min-height: 100px;
    display: flex;
    align-items: center;
}





.history_div{
    min-height: 500px;
    padding: 3px;
    width: 100%;
}





/*-------------------------------------- REST DAYS -------------------------------------- */




.fandango{
    background: var(--fandango_opaque);
}

.celeste{
    background: var(--celeste_opaque);
}

.springGreen{
    background: var(--springGreen_opaque);
}

.sinopia{
    background: var(--sinopia_opaque);
}

.lightOrange{
    background: var(--lightOrange_opaque);
}

.wenge{
    background: var(--wenge_opaque);
}
.spaceCadet{
    background: var(--spaceCadet_opaque);
}

.mauve{
    background: var(--mauve_opaque);
}

.aquamarine{
    background: var(--aquamarine_opaque);
  
}

.mandarine{
    background: var(--mandarine_opaque)
}

.brown{
    background: var(--brown_opaque)
}

.mustard{
    background: var(--mustard_opaque);
}

.jasmine{
    background: var(--jasmine_opaque)
}

.frenchGrey{
    background:var(--frenchGrey_opaque);
}

.eggplant{
    background: var(--eggplant_opaque);
}

.mossGreen{
    background: var(--mossGreen_opaque);
}







.fandango_font{
    border-bottom: 2px solid var(--fandango_opaque);
}

.celeste_font{
    border-bottom: 2px solid var(--celeste_opaque);
}

.springGreen_font{
   border-bottom: 2px solid var(--springGreen_opaque);
}

.sinopia_font{
   border-bottom: 2px solid var(--sinopia_opaque);
}

.lightOrange_font{
   border-bottom: 2px solid var(--lightOrange_opaque);
}

.wenge_font{
    border-bottom: 2px solid var(--wenge_opaque);
}

.spaceCadet_font{
    border-bottom: 2px solid var(--spaceCadet_opaque);
}

.mauve_font{
    border-bottom: 2px solid var(--mauve_opaque);
}

.aquamarine_font{
    border-bottom: 2px solid var(--aquamarine_opaque);
}

.mandarine_font{
    border-bottom: 2px solid var(--mandarine_opaque)
}

.brown_font{
    border-bottom: 2px solid var(--brown_opaque)
}

.mustard_font{
    border-bottom: 2px solid var(--mustard_opaque);
}

.jasmine_font{
    border-bottom: 2px solid var(--jasmine_opaque)
}

.frenchGrey_font{
    border-bottom: 2px solid var(--frenchGrey_opaque);
}

.eggplant_font{
    color: var(--eggplant_opaque);
}

.mossGreen_font{
    color: var(--mossGreen_opaque);
}

