

.container{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 0px;
}

.table{
    margin: 5px;
}

.listItem{
    height: 100px;
    background: var(--purpleDarkHoverOpacity);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.active{
    background: var(--purpleDarkHover);
}

@media screen and (max-width: 1300px){

    .container{
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (max-width: 800px){

    .container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 600px){

    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}