.calendar_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px;
    width: 100%;
  
}


.title{
    margin: 5px 0px;
    font-weight: bolder;
    font-size: 1.1rem;
}


.month {
    border: 1px solid #ccc;
    padding: 16px; 
}


.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 8px;
}

.day {
    border: 1px solid #ddd; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    height: 45px;
    position: relative;
    overflow: scroll;
}

.today {
    border: 4px solid var(--purpleDarkHover);
}

.day:hover{
    background: var(--purpleDarkHoverOpacity);
}

.day_date{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 1.2rem;
    opacity: 1;
    width: 100%;
    cursor: pointer;
    
}

.day_date:hover{
    color: var(--purpleDark);
    font-weight: bolder;
    font-size: 1.25rem;
}


.sport_subsection{
    width: 100%;
    height: 100%;
}

.sport_subsectionLabel{
    width: 100%;
    height: 25%;
}




.entries_div, .searchEntries_div{
    margin: 10px;
    background: var(--purpleDarkHoverOpacity);
    padding: 5px;
}


.search_title_days{    
    margin-bottom: 3px;
    border-bottom: 1px solid var(--purpleDark);
    font-size: 1.2rem;
    margin: 3px;
    padding-top: 5px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;

}

.search_created_at{
    position: absolute;
    top: -40px;
    right: 5px;
}



.expand_icon{
    margin-right:7px;
    font-size: 1.5rem;
    transition: 0.4s ease;
}

.expand_btn{
    color: var(--purpleDark);
    margin: 5px;
    width: 50px;
    height: 50px;
    transition: 0.4s ease;

}

.expand_icon:hover{
    font-size: 1.8rem;
}



.expanded {
    position: fixed; /* Oder absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Oder eine andere Farbe */
    z-index: 9999; /* Damit es über anderen Inhalten liegt */
    overflow: scroll;
    padding: 20px;
    margin: 0;
}


.show_more_btn{
    margin: 10px;
    padding: 7px;
    transition: 0.4s ease;
    font-size: 1.2rem;
    background:  var(--purpleDarkHover);
    
}

.show_more_btn:hover{
    color: beige;
   background:  var(--purpleDark);
}


@media screen and (max-width: 1300px){
    .calendar_div {
        grid-template-columns: repeat(2, 1fr); 
    
    }
}


@media screen and (max-width: 1000px){
    .calendar_div {
        grid-template-columns: repeat(1, 1fr); 
    
    }
}


.fandango_opaque{
    background: var(--fandango_opaque);
    
}

.celeste_opaque{
    background: var(--celeste_opaque);
}


.springGreen_opaque{
    background: var(--springGreen_opaque);
}


.sinopia_opaque{
    background: var(--sinopia_opaque);
}

.lightOrange_opaque{
    background: var(--lightOrange_opaque);
}

.wenge_opaque{
    background: var(--wenge_opaque);
}


.spaceCadet_opaque{
    background: var(--spaceCadet_opaque);
}


.mauve_opaque{
    background: var(--mauve_opaque)
}


.aquamarine_opaque{
    background: var(--aquamarine_opaque)
    /*background: red;*/
}

.mandarine_opaque{
    background: var(--mandarine_opaque)
}

.brown_opaque{
    background: var(--brown_opaque)
}


.mustard_opaque{
    background: var(--mustard_opaque);
}


.jasmine_opaque{
    background: var(--jasmine_opaque)
}
