



.labels{
  margin-top: 10px;
  font-size: 1rem;
  color: var(--purpleDarkHover);
  display: none;
}


.inputs, .inputs_textarea{
  border-bottom: 1px solid var(--purpleDark);
  height: 40px;
  margin: 5px 0px;
  font-size: 1.2rem;
  color: black;
  padding-left: 10px;
  width: 100%;
  background: transparent;
}

.duration{
  height: 40px;
  font-size: 1.2rem;
  color: black;
  background: transparent;
  width: 150px;
  margin: 5px;
}

.duration:focus{
  outline: none;
}

.inputs_textarea{
  min-height: 100px;
  background: transparent;
}

.inputs_textarea:focus{
  outline: none;
}


.inputs::placeholder{
  color: lightgrey;
}

.inputs:focus{
  outline: none;
}

.date_div{
  display: flex;
  color:  var(--purpleDarkHover);
}


.date_picker{
  cursor: pointer;
  height: 40px;
  width: 150px;
  background: transparent;
  pointer-events: auto; 
  margin: 5px;
}


.date_picker:focus{
  outline: none;
  border: none;
}


.submit_btn{
  font-size: 1.5rem;
  color:var(--purpleDark);
  height: 40px;
  transition: 0.2s ease;
  border-bottom: 2px solid var(--purpleDarkHoverOpacity);
  background: var(--purpleDarkHoverOpacity);
  width: 200px;
  margin: 0px 2px;
}


.submit_btn:hover{
  background: var(--purpleDark);
  color: beige;
}


.submit_btn:active{
  transform: scale(0.99);
}


.slide-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}


.error {
  background: var(--error-opaque);
  color: black;
}

.errorText {
  color: var(--error);
  letter-spacing: 1px;
  margin: 2px 0px;

}


.successMessage_p{
  font-size: 1.2rem;
  color: lightgreen;
}

.errorMessage_p{
  font-size: 1.2rem;
  color: darkred;
}


@media screen and (max-width: 600px){


}