


.labels{
  margin-top: 10px;
  font-size: 1rem;
  color: var(--purpleDarkHover);
  display: none;
}


.inputs{
  border-bottom: 1px solid var(--purpleDark);
  height: 40px;
  margin: 10px 0px;
  font-size: 1.2rem;
  color: black;
  padding-left: 10px;
}

.inputs::placeholder{
  color: lightgrey;
}

.inputs:focus{
  outline: none;
}

.date_div{
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px 5px 0px;
  color:  var(--purpleDarkHover);
}

.date_picker{
  cursor: pointer;
}


.date_picker:focus{
  outline: none;
  border: none;
}

.duration_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.submit_btn{
  font-size: 1.1rem;
  margin: 10px 0px;
  padding: 5px 0px;
  color:var(--purpleDark);
  height: 50px;
  transition: 0.2s ease;
  border-top: 1px solid var(--purpleDark);
}

.submit_btn:hover{
  background: var(--purpleDarkHover);
  color: beige;
}


.submit_btn:active{
  transform: scale(0.99);
}


.slide-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}


.error {
  background: var(--error-opaque);
  color: black;
}

.errorText {
  color: var(--error);
  letter-spacing: 1px;
  margin: 2px 0px;
}


.successMessage_p{
  font-size: 1.2rem;
  color: lightgreen;
}

.errorMessage_p{
  font-size: 1.2rem;
  color: darkred;
}