

.title{
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.diary_link{
  color: var(--purpleDarkHoverOpacity);
  font-size: 1.4rem;
  margin-left: 70px;
}

.goUp_btn{
  position: fixed;
  top: 60px;
  left: 18px;
  z-index: 1000;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.userImageDiv{
  display: flex;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
}

.goUp_btn:hover{
  color: var(--purpleDark)
}

.diary_link:hover{
  color: var(--purpleDark);
}

.calendar_icon{
  margin: 0px 8px;
  color: lightgrey;
}

.allSports_btn{
    background-color: var(--purpleDarkHover);
    color: beige;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
    min-width: 150px;
}


.entryField{
  padding: 0rem; 
  position: relative; 
  margin-top: 0rem;
  margin-right: 0.25rem; 
  margin-bottom: 1rem; 
  width: 100%; 
  min-height: 600px;
  max-height: 1000px;
  overflow-y: scroll;
}


.logout_btn{
  color: lightgrey;
  transition: 0.2s ease;
  opacity: 0.4;
}

.logout_btn:hover{
  opacity: 1;
}


@media screen and (max-width: 1300px){
  .userImageDiv{
    right: 30px;
    top: 30px;
  }
}

@media screen and (max-width: 1000px){
  .diary_link{
    margin-left: 50px;
  }   

  .userImageDiv{
    right: 35px;
    top: 35px;
  }
}


@media screen and (max-width: 900px){

  .userImageDiv{
    right: 35px;
    top: 25px;
  }
}

@media screen and (max-width: 800px){
  .icons{
    margin: 10px;
  }

  .diary_link{
    margin-left: 10px;
    font-size: 1.3rem;
  }   

  .goUp_btn{
   top: 3px;
   left: 3px;
   background-color: white;
   padding: 5px;
   height: 40px;
   width: 40px;
  }

  .userImageDiv{
    right: 35px;
    top: 20px;
  }
 
}

@media screen and (max-width: 600px){

  .header_div{
    flex-direction: column;
  }

  .icons{
    margin: 10px;
  }

  .entryField{
    padding: 0;
    margin: 0;
  }

  
  .allSports_btn{
    width: 100%;
    margin: 5px 0px;
  }
  .userImageDiv{
    right: 10px;
    top: 0px;
  }

}