



.add_entry_btn{
    color: var(--purpleDarkHover);
    font-size: 1.3rem;
    margin: 20px 0px 10px 0px;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 150px;
}

.add_btn_icon{
    color: var(--dark);
    position: relative;
    top: -1px;
    opacity: 0.5;
}

.add_entry_btn:hover{
    color: beige; 
    background-color: var(--purpleDarkHover);
}


