

/* SUMMARY SECTION*/


.summary_span{
    margin: 0 5px;
    color: var(--purpleDark);
}

.summary_allSports, .daily_allSports{
    background-color: var(--purpleDarkHover);
    color: beige;
    padding: 5px 10px;
    margin: 5px 0px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    min-width: 150px;
}

.daily_allSports{
    right: 200px;
}

.diagram_allSports:hover, .summary_allSports:hover{
    background-color: var(--purpleDark);
}


.year_input{
    border: none;
    margin: 0px 5px;
}

.chevron{
    color: var(--purpleDarkHover);
    transition: 0.2s ease;
    font-size:1.4rem;

}

.chevron:hover{
    color: var(--purpleDark);
}


.month{
    height: 100px;
    border: 1px solid var(--purpleDark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
}

.month:hover{
    background-color: var(--purpleDarkHover);
}

.amount{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color:var(--purpleDarkHoverOpacity);
}


.active{
    z-index: 1000;
    background-color: var(--purpleDarkHover);
}

.minixs{
    background-color: var(--ultraLight);
}

.mini{
    background-color: var(--light);
}

.midi{
    background-color: var(--mediumLight);
}

.maxi{
    background-color: var(--medium);
}

.maxixl{
    background-color: var(--dark);
}



.restDays_li{
    margin: 5px 0px; 
    width: 50%;
    display: flex;
}

.restDays_li_span{
    min-width: 100px;
    margin: 0px 10px;
    text-align: center;
    color: var(--purpleDark);
}


