

/* SUMMARY SECTION*/

.year_input{
    border: none;
    margin: 0px 5px;
}

.chevron{
    color: var(--purpleDarkHover);
    transition: 0.2s ease;
    font-size:1.4rem;

}

.chevron:hover{
    color: var(--purpleDark);
}



.month{
    height: 100px;
    border: 1px solid var(--purpleDark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    cursor: pointer;

}

.month:hover{
    background-color: var(--purpleDarkHover);
}


.active{
    z-index: 1000;
    background-color: var(--purpleDarkHover);
}
