
.container{
    position: relative;
}

.entry{
    box-shadow:0px 0px 10px rgba(0,0,0, 0.2);
    margin: 10px 0px;
    padding: 0px;
    max-height: 300px;
    overflow: scroll;
}

.yearHeader{
    font-weight: bolder;
    color: var(--purpleDark)
}

.monthYear_header{
    color: var(--purpleDark);
    font-size: 1.1rem;
    margin: 10px 0px;
    background-color: var(--purpleDarkHoverOpacity);
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.monthYear_header:hover{
    transform: scale(1.02);
    transition: 0.2s ease;
}

.monthYear_header:active{
    transform: scale(1);
}


.monthYear_header_p{
    margin: 0px 5px;
    width: 150px;
    color: black;
    display: flex;
}

.monthYear_header_span{
    font-size: 0.8rem;
    height: 100%;
    position: absolute;
    right: 15px;
    top: 0px;
    display: flex;
    align-items: end;
    padding-bottom: 6px;
}

.totalDuration{
    color: black;
    margin-left: 3px;
}


.link{
    cursor: pointer;
    transition: 0.2s ease;
    padding: 5px;
    position: relative;
    padding: 10px 0px;
}

.link:hover{
    color: beige;
    background-color: var(--purpleDarkHover);

}

.date {
    margin-top: 0.5rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    font-size: 0.75rem; 
    position: absolute;
    right: 1rem; 
  }
  
  .title {
    font-size: 1.3rem; 
    margin-bottom: 1rem; 
    margin-top: 1.5rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
  }
  
  .description{
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    margin-bottom: 1rem; 
  }


/*
.totalHours_p{
    height: 6vh;
    display: flex;
    align-items: center;
    color: var(--purpleDark);
    font-size: 1.4rem;
    border: 2px solid red;
}

.totalHours_span{
    color: black;
    min-width: 100px;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    border: 2px solid red;
}*/


@media screen and (max-width: 1600px){

    .monthYear_header{
        margin: 15px 0px;
    }
    .totalHours_p{
        height:4vh;
    }
}



@media screen and (max-width: 1400px){

    .monthYear_header{
        margin: 25px 0px;
    }
    
}


@media screen and (max-width: 600px){
    .container{
        width: 100%
    }

    .monthYear_header_span{
        right: 5px;
        top: 17px;
    }

    .monthYear_header_p{
        margin: 0px;
    }
}