
.container{
    position: relative;
}
.entry{
    border: 1px solid var( --purpleDark);
    margin: 10px 0px;
    padding: 0px;
}



.monthYear_header{
    color: var(--purpleDark);
    font-size: 1.5rem;
    margin: 40px 0px;
    background-color: var(--purpleDarkHoverOpacity);
    padding: 10px 5px;
    text-align: center;
}

.link{
    cursor: pointer;
    transition: 0.2s ease;
    padding: 5px;
}

.link:hover{
    color: beige;
    background-color: var(--purpleDarkHover);
}