

.container_div{
    display: flex;
    position: relative;
    gap: 5px;
    margin: 0px 2px;
}

.title{
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    margin-left: 10px;
    padding: 10px 5px;
}



.activeNavigationButton{
    background-color: var(--purpleDarkHoverOpacity);
}

.sport_div{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--purpleDarkHover);
    border-radius: 3px;
    transition: 0.2s ease;
    cursor: pointer;
}

.sport_div:hover{
    background: var(--purpleDarkHoverOpacity);
}

.selected_span{
    font-weight: bolder;
    color: var(--purpleDarkHover);
    margin: 0px 4px;
}

.icon{
    margin: 0px;
    height: 15px;
}

.icon:hover{
    color: var(--purpleDarkHover);
    cursor: pointer;
}


.sportNavigationButton{
    width: 100%;
    font-size: 1rem;
}

.fixedNavigation{
    z-index: 10000;
    background-color: white;
    position: fixed;
    top: 1vh;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    overflow: scroll;

}


@media screen and (max-width: 1350px){
    .container_div{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;

    }

    .sport_div{
        width: 45%;
        margin: 3px 5px;
    }
}




.fandango{
    color: var(--fandango_opaque);
}

.celeste{
    color: var(--celeste_opaque);
}

.springGreen{
   color: var(--springGreen_opaque);
}

.sinopia{
    color: var(--sinopia_opaque);
}

.lightOrange{
    color: var(--lightOrange_opaque);
}

.wenge{
    color: var(--wenge_opaque);
}
.spaceCadet{
    color: var(--spaceCadet_opaque);
}

.mauve{
    color: var(--mauve_opaque);
}

.aquamarine{
    color: var(--aquamarine_opaque);
  
}

.mandarine{
    color: var(--mandarine_opaque)
}

.brown{
    color: var(--brown_opaque)
}

.mustard{
    color: var(--mustard_opaque);
}

.jasmine{
    color: var(--jasmine_opaque)
}

.frenchGrey{
    color:var(--frenchGrey_opaque);
}

.eggplant{
    color: var(--eggplant_opaque);
}

.mossGreen{
    color: var(--mossGreen_opaque);
}
