

.input{
    border-bottom: 1px solid var(--purpleDark);
    color: var(--purpleDarkHover);
    margin-bottom: 40px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

.input:focus{
    outline: none;
}


.colors_div{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 15vh;
  margin: 5px 0px 20px 0px;
  padding: 4px;
}



.colors{
    flex-grow: 1;
    margin: 0px 2px;
 
}

.colors:hover{
    box-shadow: 0px 0px 5px silver;
}

.fandango{
    background: var(--fandango);
}

.celeste{
    background: var(--celeste);
}

.springGreen{
    background: var(--springGreen);
}

.sinopia{
    background: var(--sinopia);
}

.lightOrange{
    background: var(--lightOrange);
}

.wenge{
    background: var(--wenge);
}

.spaceCadet{
    background: var(--spaceCadet);
}

.mauve{
    background: var(--mauve)
}

.aquamarine{
    background: var(--aquamarine)
}

.mandarine{
    background: var(--mandarine)
}

.brown{
    background: var(--brown)
}

.mustard{
    background: var(--mustard);
}


.jasmine{
    background: var(--jasmine)
}

.add_btn{
    background: var(--purpleDark);
    color: beige;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}


.link{
    color: var(--purpleDark);
    font-size: 1.1rem;
    margin: 5px;
}


@media screen and (max-width: 1000px){
    .colors_div{
        flex-direction: column;
        height: 15vh;
    }

    .row{
        margin: 3px 0px;
    }

    .colors{
   
    }
}