

.input{
    border-bottom: 1px solid var(--purpleDark);
    color: var(--purpleDarkHover);
    margin-bottom: 40px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
   
}

.input:focus{
    outline: none;
}


.add_btn{
    background: var(--purpleDark);
    color: beige;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}


.link{
    color: var(--purpleDark);
    font-size: 1.1rem;
    margin: 5px;
}