

.input{
    border-bottom: 1px solid var(--purpleDark);
    color: var(--purpleDarkHover);
    margin-bottom: 40px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    padding: 3px;
}

.input:focus{
    outline: none;
}



.colors_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
  padding: 5px;
}

.colors {
  width: 100%; 
  height: 50px; 
}


.colors:hover{
    box-shadow: 0px 0px 5px silver;
}



.selectedSport{
    box-shadow: 0px 0px 5px var(--purpleDarkHover);
    
}


.fandango{
    background: var(--fandango);
}

.celeste{
    background: var(--celeste);
}

.springGreen{
    background: var(--springGreen);
}

.sinopia{
    background: var(--sinopia);
}

.lightOrange{
    background: var(--lightOrange);
}

.wenge{
    background: var(--wenge);
}

.spaceCadet{
    background: var(--spaceCadet);
}

.mauve{
    background: var(--mauve)
}

.aquamarine{
    background: var(--aquamarine)
}

.mandarine{
    background: var(--mandarine)
}

.brown{
    background: var(--brown)
}

.mustard{
    background: var(--mustard);
}


.jasmine{
    background: var(--jasmine)
}

.add_btn{
    background: var(--purpleDark);
    color: beige;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin: 5px 0px;
    margin-top:20px;
}


.link{
    color: var(--purpleDark);
    font-size: 1.1rem;
    margin: 10px 5px;
    position: relative;
    left: 25px;
}


@media screen and (max-width: 1400px){
    .colors_div{
         grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (max-width: 1300px){
    .colors_div{
         grid-template-columns: repeat(13, 1fr);
    }
}

@media screen and (max-width: 1000px){
    .colors_div{
         grid-template-columns: repeat(10, 1fr);
    }
}


@media screen and (max-width: 900px){
    .colors_div{
         grid-template-columns: repeat(8, 1fr);
    }
}