

.ul{
  width: 100%;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 0px; 
  overflow: auto;
  padding:  10px;
  box-shadow: 0px 0px 5px lightgrey;
}


.sport_btn{
    width: 100%;
    padding: 10px 4px;
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
    color: var(--purpleDark);
    position: relative; 
    z-index: 100;
    overflow: hidden;
    height: 50px;
    border: 2px solid var(--purpleDarkHoverOpacity);
    margin: 2px;
}

.sport_btn:hover{ 
    overflow: hidden;
}


.active{
    color: beige;
    background: var(--purpleDarkHover);
    border-radius: 3px;
}


.delete_btn{
    font-size: 1rem;
    margin: 0px 5px;
    padding: 2px;
    width: 25px;
    z-index: 100;
    position: relative;
    top: 0px;
    font-weight: bolder;
}

.trash_icon{
    color: lightgrey;
    margin-left: 8px;
}

.trash_icon:hover{
    color: var(--purpleDark);
}


.sportBtnText{
    z-index: 100000;
    max-width: 150px;
}



.circle_div{
    position: absolute;
    left:-20px;
    top: 5.5px;
    width:  100px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: transform 0.2s ease;
    opacity: 0;

    
}

 .circle{
        width: 30px;
        height: 30px;
        transition: 0.2s ease;
    }

.sport_btn:hover .circle_div {
        opacity: 1;
        transform: translateX(0px); /* Bewege die circle_div um 300px nach links */
}

 .sport_btn:hover .circle{
        width: 100px;
        height: 100px;
}



.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 27.5px;
    box-shadow: 0px 0px 60px white;
}

.circle::after{
    content: '';
    width: 100%;
    background: red;
}


.addSport_btn{
    height: 60px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    color: var(--purpleDark);
    transition: 0.2s ease;
    margin: 10px 0px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}



.addSport_btn:hover{
    color: black;
    cursor: pointer;
    font-size: 3rem;
}

@media screen and (max-width: 1300px){
     .addSport_btn{
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 800px){
    .ul{
        gap: 2px;
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 600px){
    .ul{
        gap: 2px;
        grid-template-columns: repeat(1, 1fr); 
    }
}


.spaceCadet{
    background: var(--spaceCadet);
}

.mauve{
    background: var(--mauve)
}

.aquamarine{
    background: var(--aquamarine)
}

.mandarine{
    background: var(--mandarine)
}

.brown{
    background: var(--brown)
}

.mustard{
    background: var(--mustard);
}


.jasmine{
    background: var(--jasmine)
}

.fandango{
    background: var(--fandango);
}

.celeste{
    background: var(--celeste);
}

.springGreen{
    background: var(--springGreen);
}

.sinopia{
    background: var(--sinopia);
}

.lightOrange{
    background: var(--lightOrange);
}

.wenge{
    background: var(--wenge);
}

.frenchGrey{
    background:var(--frenchGrey);
}

.eggplant{
    background: var(--eggplant);
}

.mossGreen{
    background: var(--mossGreen);
}