
.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.3rem;
    color: var(--purpleDark);
    width: 100%;
    padding: 10px;
    font-weight: bolder;
    margin: 10px 0px;
}


.select_input{
    width: 100%;
    cursor: pointer;
}

.select_input:focus{
    outline: none;
}


.sort{
    position: absolute;
    right: -3px;
    font-size: 1.3rem;
    background: white;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sport_btn{
    width: 100%;
    margin: 10px 0px;
    padding: 10px 4px;
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    transition: 0.2s ease;
    cursor: pointer;
    color: var(--purpleDark);
}

.sport_btn:hover{
    background: var(--purpleDarkHover);
    color: beige;
}

.addSport_btn{
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    color: var(--purpleDark);
    transition: 0.2s ease;
    margin: 10px 0px;
    font-size: 2rem;
}

.addSport_btn:hover{
    color: white;
    cursor: pointer;
    background: var(--purpleDark);
}

.active{
    color: beige;
    background: var(--purpleDark);
    border-radius: 3px;
}


.delete_btn{
    font-size: 1.1rem;
    transition: 0.2s ease;
    margin: 0px 4px;
    padding: 2px;
    width: 25px;
    z-index: 100;
    position: relative;
    top: -2px;
}

.delete_btn:hover{
    color: black;
    font-weight: bolder;
}