
.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.3rem;
    color: var(--purpleDark);
    width: 100%;
    padding: 5px 10px;
    font-weight: bolder;
    margin: 10px 0px;
}


.select_input{
    width: 100%;
    cursor: pointer;
    padding: 0px 5px;
}

.select_input:focus{
    outline: none;
}


.sort{
    position: absolute;
    right: -3px;
    font-size: 1.3rem;
    background: white;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}



.sport_btn{
    width: 100%;
    margin: 10px;
    padding: 10px 4px;
    font-size: 1.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
    color: var(--purpleDark);
    
}

.sport_btn:hover{
    background: var(--purpleDarkHover);
    color: beige;
    overflow: hidden;
}



.addSport_btn{
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    color: var(--purpleDark);
    transition: 0.2s ease;
    margin: 10px 0px;
    font-size: 2rem;
    overflow: hidden;
    
}

.addSport_btn:hover{
    color: white;
    cursor: pointer;
    background: var(--purpleDark);

}

.active{
    color: beige;
    background: var(--purpleDark);
    border-radius: 3px;
}


.delete_btn{
    font-size: 1rem;
    margin: 0px 5px;
    padding: 2px;
    width: 25px;
    z-index: 100;
    position: relative;
    top: 0px;
    font-weight: bolder;
}

.trash_icon{
    color: lightgrey;
}

.trash_icon:hover{
    color: var(--purpleDark);
}



.fandango{
    background: var(--fandango);
}

.celeste{
    background: var(--celeste);
}

.springGreen{
    background: var(--springGreen);
}

.sinopia{
    background: var(--sinopia);
}

.lightOrange{
    background: var(--lightOrange);
}

.wenge{
    background: var(--wenge);
}

.spaceCadet{
    background: var(--spaceCadet);
}

.mauve{
    background: var(--mauve)
}

.aquamarine{
    background: var(--aquamarine)
}

.mandarine{
    background: var(--mandarine)
}

.brown{
    background: var(--brown)
}

.mustard{
    background: var(--mustard);
}


.jasmine{
    background: var(--jasmine)
}

.sportBtnText{
    z-index: 100000;
}


.circle_div{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
    
}


.sport_btn:hover + .circle_background{
    background: transparent;
}



.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    position: absolute;
    right: 50px;
    bottom: 27.5px;
}

.circle::after{
    content: '';
    width: 100%;
    background: red;
}


@media screen and (max-width: 1300px){

    .title{
        display: none;
    
    }

    .subtitle{
        font-size: 1rem;
        
    }
    .select_input{
        width: 180px;
    }

    .sort{
        border: 2px solid green;
        display: none;
    }

    .sport_btn{
        background: red;
        background: var(--purpleUltraLight);
        width: 240px;
        margin: 0px 2px;
    }

    .active{
        color: black;
    }

    .addSport_btn{

        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px){

  

     .subtitle{
        font-size: 0.9rem;

    }
}

