

.form{
    position: relative;
    margin: 20px 0px 5px 0px;
    border-bottom: 2px solid var(--purpleDarkHoverOpacity);
    border-top: 2px solid var(--purpleDarkHoverOpacity);
    width: 90%;
}

.search_input{
    width: 90%;
    height: 40px;
    padding: 10px;
    padding-left: 35px;
    font-size: 1.2rem;
    color: var(--purpleDark);
}

.search_input:hover{
    cursor: pointer;
}

.search_input:focus{
    outline: none;
}


.submit_btn{
    position: absolute;
    top: 10px;
    left: 10px;
}

@media screen and (max-width: 800px){
    .search_input{
        height: 35px;
    }

    .submit_btn{
        top: 3.5px;
    }

    .form{
        width: 80%;
    }
}