


.fontAwesomeIcon{
    width: 20px;
    height: 20px;
}

.entryContainer{
    display: flex;
    flex-direction: column; 

}


.entryBg{
    padding: 2px 0px;
    transition: 0.2s ease-in-out;
}

.entryBg:hover{
    background-color: var(--purpleDarkHoverOpacity);
    transform: scale(1.02);
}

.pastEntriesTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.historyBtn {
    font-size: 1rem; 
    cursor: pointer;
    margin: 1.4rem; 
    background-color: var(--purpleDarkHoverOpacity); 
    border-radius: 0.3rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem; 
    z-index: 1000;
    transition: background-color 300ms ease-in-out; 
}

.historyBtn:hover {
    background-color: var(--purpleDarkHover);
    color: beige;
    cursor: pointer;
}




.pastEntriesContainer{
    display: flex;
}


.yearDiv{
    padding: 5px; 
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin: 5px 0px; 
}

.titleButton{
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.titleButton:hover{
    background-color: rgba(255,255,255, 0.8);
    color: var(--purpleDark);
    transform: translateY(-2px);
}

.pastYearsEntry{
    margin: 15px 0px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--purpleDarkHoverOpacity);
}

.pastYearsEntry p{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.pastYearsEntry p:hover{
    font-size: 0.95rem;
}


@media screen and (max-width: 1200px){
    .entryContainer{
        flex-direction: column;
    }

}

@media screen and (max-width: 1000px){
    .pastEntriesContainer{
        flex-direction: column;
    }
}

@media screen and (max-width: 900px){


    .pastEntriesTitleContainer{
        flex-direction: column;
    }
    

    .yearDiv{
        margin: 0;
    }
}

@media screen and (max-width: 768px){

    .historical_entry_div{
        width: 100%;
        margin: 10px 0px;
    }
}

@media screen and (max-width: 600px){
 
    .pastEntriesTitleContainer{
       margin: 0px 5px 10px 5px;
       text-align: center;
       
    }

}


.fandango{
    background: var(--fandango_opaque);
}

.celeste{
    background: var(--celeste_opaque);
}

.springGreen{
    background: var(--springGreen_opaque);
}

.sinopia{
    background: var(--sinopia_opaque);
}

.lightOrange{
    background: var(--lightOrange_opaque);
}

.wenge{
    background: var(--wenge_opaque);
}
.spaceCadet{
    background: var(--spaceCadet_opaque);
}

.mauve{
    background: var(--mauve_opaque);
}

.aquamarine{
    background: var(--aquamarine_opaque);
  
}

.mandarine{
    background: var(--mandarine_opaque)
}

.brown{
    background: var(--brown_opaque)
}

.mustard{
    background: var(--mustard_opaque);
}

.jasmine{
    background: var(--jasmine_opaque)
}

.frenchGrey{
    background:var(--frenchGrey_opaque);
}

.eggplant{
    background: var(--eggplant_opaque);
}

.mossGreen{
    background: var(--mossGreen_opaque);
}
