

.entryContainer{
    display: flex;
}

.entryDiv{
    width: 100%;
    text-align: justify;
}

.title{
    font-size: 1.6rem;
    color: black;
    margin: 5px 0px;
    padding: 0px 5px;
}


.entry{
    font-size: 1.1rem;
    margin: 10px 0px;
    color: var(--purpleDark);
    padding: 0px 5px;
}

.imageDiv{
    width: 30%;
}


.goback_link{
    font-size: 1.2rem;
}

.delete_btn, .edit_btn{
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    transition: 0.2s ease;
}

.delete_btn:hover, .goback_link:hover{
    color: var(--purpleDark);
}



@media screen and (max-width: 800px){
    .entryContainer{
        flex-direction: column;
    }

    .entryDiv, .imageDiv{
        width: 100%;
        min-height: 200px;
    }
}
@media screen and (max-width: 600px){

    .goback_link{
        position: relative;
        top: 4px;
        font-size: 1.3rem;
    }
    .delete_btn, .edit_btn{
        width: 35px;
        height: 35px;
        margin: 0px 10px;
        font-size: 1.2rem;
        position: relative;
        top: 12px;
    }

    .title, .entry{
        margin: 10px;
        font-size: 1rem;
    }

    .title{
        font-size: 1.3rem;
    }

    .title{
        border-top: 1px solid var(--purpleDarkHoverOpacity);
    }
}

@media screen and (max-width: 350px){
    .entryDiv{
        align-items: center;
        justify-content: center;
    }

    .title, .entry{
        text-align: center;
    }

}