


.title{
    font-size: 2rem;
    color: var(--purpleDarkHover);
    margin: 5px 0px;
}


.entry{
    font-size: 1.2rem;
    margin: 10px 0px;
    color: var(--purpleDark);

}


.buttons_div{
    position: absolute;
    right: 10px;
    top: 10px;
}

.delete_btn, .edit_btn{
    width: 60px;
    height: 60px;
    margin: 0px 10px;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 5px;
    transition: 0.2s ease;
}

.delete_btn:hover{
    color: var(--purpleDark);
}