.month_modal, .year_modal{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
    background-color: white;

}

.selected_span{
    color: var(--purpleDarkHover);
    font-weight: bolder;
    margin: 0px 5px;
}

.year_modal h2, .month_modal h2{
    color: var(--purpleDark);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    position: relative;
    left: -10px;
   
}


.year, .month{
    height: 40px;
    min-width: 95px;
    margin: 0px 5px;
    border-radius: 3px;
    border: 1px solid var(--purpleDarkHoverOpacity);
    transition: 0.2s ease;
}

.year:hover, .month:hover{
    border: 1px solid var(--purpleDark);
    box-shadow: 0px 0px 2px grey;
    background: var(--purpleDarkHoverOpacity);
    color: beige;
}

.close_btn{
   background: var(--purpleDarkHover);
   min-width: 90px;
   height: 40px;  
   margin: 5px 0px;
}

.month{
    border: 2px solid var(--purpleDarkHoverOpacity);

}




/*
.year, .month{
    height: 40px;
    font-size: 1rem;
    background: var(--purpleDarkHoverOpacity);
}

.year{
    width: 90%;
}

.month{
    width: 96%;
    margin: 5px 0px;
}

.year:hover, .month:hover{
    background: var(--purpleDark);
    color: beige;
}

.close_btn{
   background: var(--purpleDarkHover);
   width: 96%;
   height: 40px;  
   margin: 5px 0px;

}

.close_btn:hover{
    color: beige;
    background: rgba(0,0,0,0.8);
}


@media screen and (max-width: 1400px){
    .modal{
        gap: 5px;
        height: 100%;
    }

    .month, .close_btn, .year{
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .modal{
        grid-template-columns: repeat(3, 1fr);
    }

}*/