
.toggleEntries_btn{
    border-bottom: 2px solid var(--purpleDarkHover);
    width: 200px;
    height: 40px;
    transition: 0.4s ease;
    letter-spacing: 1px;
    font-size: 1rem;
}

.yourEntried_p{
    position: absolute;
    left: 0;
    bottom: 0;
}