
.toggleEntries_btn{
    border-bottom: 2px solid var(--purpleDarkHover);
    width: 200px;
    height: 40px;
    transition: 0.4s ease;
    letter-spacing: 1px;
    font-size: 1rem;
}


@media screen and (max-width: 600px){
    .toggleEntries_btn{
        position: relative;
        left: 50px;
    }

    
}