.layout_btn{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
    color: #D1D5DB;
}

.layout_btn span{
    font-size: 1rem;
}

.layout_btn:hover{
    color: var(--purpleDark);

}

.icon{
    font-size: 1rem !important;
}

.field{
    width: 100%;
    position: relative;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0px; 
    padding: 5px;
}

.sportItem{
    margin: 2px;
    max-height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.date_title{
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 5px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--purpleDark);
    border-bottom: 2px solid var(--purpleDarkHoverOpacity);
}


.sport_entry_div{
    background: var(--purpleDarkHoverOpacity);
    width: 95%;
    margin: 10px 5px;
    padding: 5px; 
    background: linear-gradient(to right, var(--purpleDarkHoverOpacity), transparent);
    /*border: 2px solid cadetblue;*/
    position: relative;
}

.enlarge_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    transition: 0.2s ease;
    color: lightgrey;
    width: 30px;
    font-size: 0.8rem;
    height: 30px;
}


.duration_h3{
    display: block;
}

.sport_entry_details{
    overflow: hidden;
    transition: max-height 1s ease; 
    padding: 10px 20px;
    width:100%;
    height: 100%;
    /*border: 2px solid blue;*/
}

.sport_entry_details.collapsed {
    max-height: 0; 
}


.sport_entry_details.expanded {
    max-height: 500px; 
   
}



.action_btns{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    font-size: 1.2rem;
    background: rgba(255,255,255, 0.3);
    transition: 0.2s ease-in;
    border-radius: 50%;
}


.action_btns:hover{
    background: rgba(255,255,255, 0.2);
    background-color: var(--purpleDark)
}



@media screen and (max-width: 1400px){
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .date_title{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 900px){
    .grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }

    .date_title{
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 600px){

    .date_title{
        padding: 0px 10px;
        margin-top: 15px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }

    .created_at_h2,  .duration_h3{
        font-size: 0.8rem;
    }

    .field{
        padding: 0;
    }


    .sport_entry_div{
        margin: 5px 0px;
        width: 100%;
    }


  
    .enlarge_btn{
        width: 20px;
        top: 4px;
        right: 2px;
        font-size: 0.5rem;
    }

    .enlarge_icon{
        font-size: 1rem;
    }


    .sport_entry_div_grid{
        margin: 0px 10px;
        padding: 0;
        text-align: center;

    }


}

.expanded_grid{
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0px;
    margin: 0px;
    height: 400px;
}

















.indigoDye {
    background: var(--indigoDye);
}

.persianGreen {
    background: var(--persianGreen);
}

.roseTaupe {
    background: var(--roseTaupe);
}

.coralRed {
    background: var(--coralRed);
}

.lapisBlue {
    background: var(--lapisBlue);
}

.pistachio {
    background: var(--pistachio);
}

.powderBlue {
    background: var(--powderBlue);
}

.vermilion {
    background: var(--vermilion);
}

.iceBlue {
    background: var(--iceBlue);
}

.deepLilac {
    background: var(--deepLilac);
}

.saffron {
    background: var(--saffron);
}

.oliveGreen {
    background: var(--oliveGreen);
}

.midnightPurple {
    background: var(--midnightPurple);
}

.peach {
    background: var(--peach);
}

.mint {
    background: var(--mint);
}

.terracotta {
    background: var(--terracotta);
}

/* Neue Farben – linear gradient */
.indigoDye_bg {
    background: linear-gradient(to right, transparent, var(--indigoDye));
}

.persianGreen_bg {
    background: linear-gradient(to right, transparent, var(--persianGreen));
}

.roseTaupe_bg {
    background: linear-gradient(to right, transparent, var(--roseTaupe));
}

.coralRed_bg {
    background: linear-gradient(to right, transparent, var(--coralRed));
}

.lapisBlue_bg {
    background: linear-gradient(to right, transparent, var(--lapisBlue));
}

.pistachio_bg {
    background: linear-gradient(to right, transparent, var(--pistachio));
}

.powderBlue_bg {
    background: linear-gradient(to right, transparent, var(--powderBlue));
}

.vermilion_bg {
    background: linear-gradient(to right, transparent, var(--vermilion));
}

.iceBlue_bg {
    background: linear-gradient(to right, transparent, var(--iceBlue));
}

.deepLilac_bg {
    background: linear-gradient(to right, transparent, var(--deepLilac));
}

.saffron_bg {
    background: linear-gradient(to right, transparent, var(--saffron));
}

.oliveGreen_bg {
    background: linear-gradient(to right, transparent, var(--oliveGreen));
}

.midnightPurple_bg {
    background: linear-gradient(to right, transparent, var(--midnightPurple));
}

.peach_bg {
    background: linear-gradient(to right, transparent, var(--peach));
}

.mint_bg {
    background: linear-gradient(to right, transparent, var(--mint));
}

.terracotta_bg {
    background: linear-gradient(to right, transparent, var(--terracotta));
}




.fandango_bg{
    background: linear-gradient(to right, transparent, var(--fandango));
}

.celeste_bg {
    background: linear-gradient(to right, transparent, var(--celeste));
}

.springGreen_bg {
    background: linear-gradient(to right, transparent, var(--springGreen));
}

.sinopia_bg {
    background: linear-gradient(to right, transparent, var(--sinopia));
}

.lightOrange_bg {
    background: linear-gradient(to right, transparent, var(--lightOrange));
}

.wenge_bg {
    background: linear-gradient(to right, transparent, var(--wenge));
}

.spaceCadet_bg {
    background: linear-gradient(to right, transparent, var(--spaceCadet));
}

.mauve_bg {
    background: linear-gradient(to right, transparent, var(--mauve));
}

.aquamarine_bg {
    background: linear-gradient(to right, transparent, var(--aquamarine));
}

.mandarine_bg{
    background: linear-gradient(to right, transparent, var(--mandarine));
}

.brown_bg{
    background: linear-gradient(to right, transparent, var(--brown));
}

.mustard_bg {
    background: linear-gradient(to right, transparent, var(--mustard));
}

.jasmine_bg {
    background: linear-gradient(to right, transparent, var(--jasmine));
}

.frenchGrey_bg{
    background: linear-gradient(to right, transparent, var(--frenchGrey));
}

.eggplant_bg{
    background: linear-gradient(to right, transparent, var(--eggplant));
}

.mossGreen_bg{
    background: linear-gradient(to right, transparent, var(--mossGreen));
}


