.layout_btn{
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s ease;
}

.layout_btn:hover{
    color: var(--purpleDark)
}

.field{
    width: 100%;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0px; 
    padding: 16px; 
}

.sportItem{
    margin: 2px;
    max-height: 400px;
    overflow: scroll;
}


.date_title{
    margin-top: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.sport_entry_div{
    background: var(--purpleDarkHoverOpacity);
    width: 95%;
    margin: 10px 5px;
    padding: 5px; 
    background: linear-gradient(to right, var(--purpleDarkHoverOpacity), transparent);
}

.enlarge_btn{
    width: 40px;
    position: absolute;
    right: 3px;
    top: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    color: lightgrey;
}
.enlarge_btn:hover{
    color: black;
}

.enlarge_icon{
    font-size: 1.4rem;
    cursor: pointer;
}


.duration_h3{
    display: block;
}

.sport_entry_details {
    overflow: hidden;
    transition: max-height 1s ease; 
    padding: 10px 20px;
    width:100%;
}

.sport_entry_details.collapsed {
    max-height: 0; 
}


.sport_entry_details.expanded {
    max-height: 500px; 
   
}


.action_btns{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    font-size: 1.2rem;
    background: rgba(255,255,255, 0.3);
    transition: 0.2s ease;
    border-radius: 50%;
}


.action_btns:hover{
    background: rgba(255,255,255, 0.7);
}

.delete_icon{
    color: red;
}


.check_icon{
    color: green;
}





@media screen and (max-width: 1000px){
    .grid {
        grid-template-columns: repeat(2, 1fr); 

    }
}


@media screen and (max-width: 600px){
    .grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 5px;
    }

    .date_title{
        padding: 0px 10px;
        margin-top: 15px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }

    .created_at_h2,  .duration_h3{
        font-size: 0.8rem;
    }

    .field{
        padding: 0;
        border: 2px solid blue;
    }


    .sport_entry_div{
        margin: 5px 0px;
        width: 100%;
    }


  
    .enlarge_btn{
        width: 20px;
        top: 4px;
        right: 2px;
        font-size: 0.5rem;
    }

    .enlarge_icon{
        font-size: 1rem;
    }


    .sport_entry_div_grid{
        margin: 0px 10px;
        padding: 0;
        text-align: center;

    }


}


.fandango_bg{
    background: linear-gradient(to right, transparent, var(--fandango));
}

.celeste_bg {
    background: linear-gradient(to right, transparent, var(--celeste));
}

.springGreen_bg {
    background: linear-gradient(to right, transparent, var(--springGreen));
}

.sinopia_bg {
    background: linear-gradient(to right, transparent, var(--sinopia));
}

.lightOrange_bg {
    background: linear-gradient(to right, transparent, var(--lightOrange));
}

.wenge_bg {
    background: linear-gradient(to right, transparent, var(--wenge));
}

.spaceCadet_bg {
    background: linear-gradient(to right, transparent, var(--spaceCadet));
}

.mauve_bg {
    background: linear-gradient(to right, transparent, var(--mauve));
}

.aquamarine_bg {
    background: linear-gradient(to right, transparent, var(--aquamarine));
}

.mandarine_bg{
    background: linear-gradient(to right, transparent, var(--mandarine));
}

.brown_bg{
    background: linear-gradient(to right, transparent, var(--brown));
}

.mustard_bg {
    background: linear-gradient(to right, transparent, var(--mustard));
}

.jasmine_bg {
    background: linear-gradient(to right, transparent, var(--jasmine));
}

.frenchGrey_bg{
    background: linear-gradient(to right, transparent, var(--frenchGrey));
}

.eggplant_bg{
    background: linear-gradient(to right, transparent, var(--eggplant));
}

.mossGreen_bg{
    background: linear-gradient(to right, transparent, var(--mossGreen));
}

.expanded_grid{
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0px;
    margin: 0px;
    height: 400px;
}





.fandango{
    background: var(--fandango);
}

.celeste{
    background: var(--celeste);
}

.springGreen{
    background: var(--springGreen);
}

.sinopia{
    background: var(--sinopia);
}

.lightOrange{
    background: var(--lightOrange);
}

.wenge{
    background: var(--wenge);
}


.spaceCadet{
    background: var(--spaceCadet);
}

.mauve{
    background: var(--mauve)
}

.aquamarine{
    background: var(--aquamarine);
  
}

.mandarine{
    background: var(--mandarine)
}

.brown{
    background: var(--brown)
}

.mustard{
    background: var(--mustard);
}

.jasmine{
    background: var(--jasmine)
}

.frenchGrey{
    background:var(--frenchGrey);
}

.eggplant{
    background: var(--eggplant);
}

.mossGreen{
    background: var(--mossGreen);
}
