

.menu_div_backdrop{
    z-index: 100000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.title{
    font-size: 1.1rem;
    margin: 10px 0px;
}

.menu_div{
    width: 60vw;
    background-color:rgba(255,255,255, 0.7);
    z-index: 10000;
    padding: 10px;
    height: 80vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--purpleDarkHover);
;}

.close_btn{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.2s ease;
    color: grey;
    transition: color .3s ease; 
}

.close_btn:hover{
    color: var(--purpleDark);
    
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_title{
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid var(--purpleDark);
    width: 500px;
    padding: 10px;
    margin: 0px;
    display: flex;
}

.subLinkDiv{
    transition: 0.4s ease-in-out;
}

.yourSportsactive{
    height: 170px;
}
.yourProfileactive{
    height: 90px;
}

.communityactive{
    height: 130px;
}

.appactive{
    height: 230px;
}

.subLinkInactive{
    height: 0px;
    overflow: hidden;
}

.link, .subLink{
    border-bottom: 0.5px solid  rgba(255,255,255, 0.3);
    width: 500px;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 1.1rem;
    cursor: pointer;
}

.link:hover, .subLink:hover{
    color:var(--purpleDark);
}


.subDiv{
    display: flex;
    margin: 10px 0px;
}

.subLink{
    width: 250px;
    background-color: var(--purpleDarkHoverOpacity);
    margin: 0px 5px;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border-top: 0.5px solid  rgba(255,255,255, 0.3);
}


@media screen and (max-width: 1000px){
    .close_btn{
        top: 5px;
    }

    .menu_div{
        width: 90%;
    }

 
}

@media screen and (max-width: 600px){

    .menu_div{
        padding: 5px;
        margin: 0px;
    }

    .close_btn{
        top: 7px;
   
    }

    .table{
        width: 100%;
    }

     .link{
        width: 450px;
      
    }

    .subLink{
        width: 150px;
    }

    .table_title{
        width: 400px;
        font-size: 1rem;
    }
}


@media screen and (max-width: 500px){

 

     .link{
        width: 350px;
        font-size: 0.9rem;
    }

    .subLink{
        width: 160px;
    }

    .table_title{
        width: 350px;
    }
}

@media screen and (max-width: 400px){
    .link{
       width: 260px;
       font-size: 0.9rem;
   }

   .subLink{
       width: 100px;
       text-align: center;
       font-size: 0.9rem;
       padding: 5px;
       margin: 0px 20px;
   }

   .table_title{
       width: 260px;
       font-size: 0.9rem;
   }
}

@media screen and (max-width: 300px){

     .link, .subLink{
        width: 100%;

    }

    .subDiv{
        flex-direction: column;
    }

    .subLink{
        text-align: center;
        margin: 5px 0px;
    }
}