@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --dark: #2E2C2F;

  /* CALENDAR.JS */
  --ultraLight: #FAEFF6;
  --light: #EBC1DD;
  --mediumLight: #D784BB;
  --medium: #C34699;
  --dark: #6C2354;

  --greenLight: hsla( 160, 47%, 79%, 0.5);
  --greenMedium: hsla(161, 22%, 58%, 0.7);
  --greenDark: hsla(162, 24%, 37%, 0.8);




  --purpleUltraLight: hsl(340, 60%, 85%);
  --purpleSuperLight: hsl(340, 60%, 65%);
  --purpleLight: hsl(340, 90%, 55%);
  --purpleDark: hsl(340, 100%, 35%);
  --purpleDarkHover: rgba(179, 0, 60, 0.7);
  --purpleDarkHoverOpacity:rgba(179, 0, 60, 0.2);
  
  --error-opaque: rgba(218, 42, 28, 0.5);
  --error: rgba(218, 42, 28);
  

  --navButton: hsl(340, 100%, 35%);
  --navButton-hover:  rgba(179, 0, 60, 0.5);
  --background-light: rgba(255, 255, 255, 0.5);
  --section-box-shadow:  0px 0px 30px lightgrey;



  /*   label colors*/

  --fandango: #A80874;
  --sinopia: #C73E1D;
  --mandarine: #FB8B24;
  --wenge:rgb(3, 138, 255);
  --celeste: #B7FDFE;
  --jasmine: rgb(255, 240, 0);
  --mauve: #E2A0FF;
  --springGreen: #5EF38C;
  --brown: #A44200;
  --mustard: #FFC233;
  --lightOrange: #FCDDBC;
  --spaceCadet: #F8C0C8;
  --aquamarine: #B7FFD8;
  --frenchGrey: #BCBDC0;
  --eggplant: #734B5E;
  --mossGreen: #255200;
  /*----*/

   --chiliRed: #E3170A;
    --fandango_opaque: rgba(168, 8, 116, 0.7); /* #A80874 */
    --sinopia_opaque: rgba(199, 62, 29, 0.7); /* #C73E1D */
    --mandarine_opaque: rgba(251, 139, 36, 0.7); /* #FB8B24 */
    --wenge_opaque: rgb(3, 138, 255, 0.7); /* #69585F */
    --celeste_opaque: rgba(183, 253, 254, 0.7); /* #B7FDFE */
    --jasmine_opaque: rgba(255,240,0, 0.7); /* #F4D58D */
    --mauve_opaque: rgba(226, 160, 255, 0.7); /* #E2A0FF */
    --springGreen_opaque: rgba(94, 243, 140, 0.7); /* #5EF38C */
    --brown_opaque: rgba(164, 66, 0, 0.7); /* #A44200 */
    --mustard_opaque: rgba(255, 194, 51, 0.7); /* #FFC233 */
    --lightOrange_opaque: rgba(252, 221, 188, 0.8); /* #FCDDBC */
    --spaceCadet_opaque: rgba(248, 192, 200, 0.8); /* #F8C0C8 */
    --aquamarine_opaque: rgba(183, 255, 216, 0.8); /* #B7FFD8 */


 


 




  --tyianPurple: #5F0F40;
  --carmine: #9A031E;

  --orange:#E36414;

  --platinum: #E6E6EA;
  --lavender: #F9E7E7;
  --timberwolf:#DED6D6;
  --rosequarz: #ADA0A6;

  --jordyblue: #92B4F4;
  --glaucos: #5E7CE2;
  --celticblue: #4472CA;
  --eqyptianblue: #0A369D;
}


.container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  border: 2px solid red;
  margin: 0;
  padding: 30px;
}

.font_purple{
  color: var(--purpleDark);
  font-size: 1.5rem;
}

.font_purple:hover{
  color: var(--purpleDarkHover);
}
